{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Loading Page</title>
        <link href="{% static 'loading/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h2>Loading Page</h2>
        <h2>Players</h2>

        <h2>Name: {{ player1Name }}</h2>

        <form>
            <input type="text" id="Player" name="Player"><br>
        </form>

        <form action="{% url 'board:index' %}">
            <input type="submit" id="Steve" value="OK"><br>
        </form>

    </body>
</html>