{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Main Board Page</title>
        <link href="{% static 'board/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h3>Cards in Deck: {{ deckLen }}</h3>
        <ul>
            {% for card in deckList %}
                <li>{{ card }}</li>
            {% endfor %}
        </ul>
        {% for player in players %}
            <p>Name: {{ player.1 }}</p>
            {% for handCard in player.2 %}
                <li>{{ handCard }}</li>
            {% endfor %}
        {% endfor %}
    </body>
</html>