{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Main Board Page</title>
        <link href="{% static 'board/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Cards in Deck</h1>
        <h1>{{ deckLen }}</h1>
        <ul>
            {% for card in deckList %}
                <li>{{ card }}</li>
            {% endfor %}
        </ul>
        <h1>Cards in Hand</h1>
        <h1>{{ player1Name }}</h1>
        <ul>
            {% for handCard in handCards %}
                <li>{{ handCard }}</li>
            {% endfor %}
        </ul>
    </body>
</html>