{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Main Board Page</title>
        <link href="{% static 'board/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h2>Cards in Deck: {{ deckLen }}</h2>
        <ul>
            {% for card in deckList %}
                <li>{{ card }}</li>
            {% endfor %}
        </ul>
        <h2>Cards in Hand</h2>
        <h2>Name: {{ player1Name }}</h2>
        <ul>
            {% for handCard in handCards %}
                <li>{{ handCard }}</li>
            {% endfor %}
        </ul>
    </body>
</html>